body {
  background-color: #161a1f;
  color: white;
}
h1 {
  margin-bottom:3px 
}
h1, p {
  text-align: center;
}
form {
  max-width: 500px;
  min-width: 300px;
  width: 90%;
  margin: auto;
  padding: 0.3rem 0;
  background-color: #3d4854
}
fieldset{
  margin: 3vw;
  border-color: #bedaf7
}
label {
  display: block;
  margin: 1rem auto;
}

input, select, textarea {
  background-color: #161a1f;
  min-height: 1.5rem;
  color: white;
  margin: 5px 0 0 0;
  width: 100%
}
input[type="radio"], input[type="checkbox"] {
  width: unset;
  vertical-align: middle;
  margin: 0 5px 3px 0;
}
input[type="submit"] {
  display: block;
  margin: 1rem auto;
  height: 2em;
  width: 70%
}


